*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 60px;
    padding: 10px 30px;
    background-color: rgb(190, 190, 190);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 100%;
}

.search input{
    padding: 10px;
    border-radius: 20px;
    border: none;
}



.nav-bar{
    background-color: azure;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.nav-bar ul li{
    list-style: none;
    float: left;  
    padding: 15px 25px;
    cursor: pointer;   
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
    
    
}

.nav-bar ul li:hover{
    background-color: aqua;
    color: #ffffff;
    
}

.main-content{
    min-height: 70vh;
    width: 100%;
    display: flex;
    text-align: center;
}

.content{
    width: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center
}

.left-side, .right-side{
    width: 25%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center
}

footer{
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
